.card { transition: 2s}

.diphai { 
    animation: sangphai 1s forwards;
}

@-webkit-keyframes sangphai {
    0% {
        transform: translateX(0);
        margin-top: 0px;
        opacity: 1;
    } 
    50% {
        transform: translateX(400px);
        margin-top: 0px;
        opacity: 1;
    }  
    100%{
        transform: translateX(600px);
        opacity: 0;
        margin-top: 200px;
    }
}