.menu{
    background-color: #ccc;
    padding: 41px 0;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.phai a{
    color:#2d4f80;
    font-weight: normal;
    font-size: 18px;
    padding: 0 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.phai a:hover{
    color:black;
}